<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Feedback</title>
    <link rel="stylesheet" href="{{url_for('static',filename='feedbackstyle.css')}}">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css">
</head>
<body>
    <nav>
        <i class="fas fa-wallet" id="coin"></i>
        <label  class="logo">PricePool</label>
            <ul>
                <li><a href="{{url_for('product')}}">Home</a></li>
                <li><a href="{{url_for('about')}}">About</a></li>
                <li><a href="{{url_for('contact')}}">Contact Us</a></li>
                <li><a href="{{url_for('feedback')}}">Feedback</a></li>
            </ul>
    </nav>
    <div class="menu-div">
        <div class="home"><a href="{{url_for('product')}}">Home</a></div>
        <div class="about"><a href="{{url_for('about')}}">About</a></div>
        <div class="contact"><a href="{{url_for('contact')}}">Contact Us</a></div>
        <div class="feedback"><a href="{{url_for('feedback')}}">Feedback</a></div>
    </div>
    <div class="red"></div>
    <iframe src="https://docs.google.com/forms/d/e/1FAIpQLSeULV8H6UsqoluT3p9qyd952J63APBoMdAUSoj5dn-LRv0jLA/viewform?embedded=true" width="640" height="821" frameborder="1" marginheight="0" marginwidth="0" class="frame">Loading…</iframe>
</body>
</html>